@font-face {
    font-family: helvetica;
    src: url(../assets/HelveticaNeue.ttc);
}

body {
    background-color: #F6F6F6;
    font-family: helvetica;
}

button:hover,
input:hover {
    cursor: pointer;
}

.back-button {
    position: absolute;
    width: 53px;
    height: 53px;
    left: 60px;
    top: 45px;
    border-radius: 50%;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.back-button img {
    width: 9px;
}

.header {
    position: absolute;
    left: 35.5%;
    top: 5.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 66px;
}

.header p {
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.input-form {
    position: absolute;
    top: 10%;
    left: 18%;
    width: 64%;
    height: 90%;
    border-radius: 10px;
    background: #fff;
    padding: 4% 9% 2% 9%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10%;
}

.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.input-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    border: 1px solid #62A1EB;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    padding: 15px;
    margin: 10px 0px;
}

.input-name input {
    width: 339px;

}


input,
label {
    display: block;
}

label {
    font-weight: 600;
    line-height: 21px;
    font-size: 18px;
}

input:hover,
input:focus {
    background: rgba(43, 75, 242, 0.06);
    border: 1.8px solid #6499FF;
}

input::placeholder {
    font-weight: 200;
}

p {
    font-weight: 300;
    line-height: 21px;
    font-size: 14px;
    color: #2E2E2E;
}


.btn {
    text-align: left;
    width: 100%;
}

.worker-info-main img {
    width: 85px;
    margin: 40px;
}

.next-button {
    width: 176px;
    height: 60px;
    color: white;
    border: none;
    background: #62A1EB;
    border-radius: 8px;
}


.dropbtn {
    background-color: #EBEBEB;

    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 60px;
    text-align: left;
    font-weight: 800;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content a {
    color: black;
    padding: 11px 11px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #E7F0F8;
}

.show {
    display: block;
}

.invalid {
    color: #E52F2F;
    border: 1px solid #E52F2F;
}

.logo{
    position: absolute;
    top: 103%;
    width: 85px;
    left: 47.5%;
    margin: 15px;
}